@import "theme.dark.css" (prefers-color-scheme: dark);
@import "theme.light.css" (prefers-color-scheme: light);
*,
*::before,
*::after {
  box-sizing: border-box;
  cursor: url(img_stlye/mcurcor.png) 25 25, auto;
}

.hide {
  display: none;
}

html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  background: var(--bg);
  color: var(--txt);
}

section {
  scroll-snap-align: center;
  overflow: hidden;
}

section:nth-child(even) {
  background-color: var(--bgVariant);
}

.animTrigger {
  position: relative;
}

.section {
  overflow: hidden;
}

h1 {
  color: var(--accent);
  margin-bottom: 16px;
  font-family: "Diphylleia", serif;
  font-size: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  max-width: calc(70ch + 4rem);
  min-height: max(100dvh, 2rem);
  margin-inline: auto;
  padding-inline: 2rem;
}

header {
  text-align: center;
  word-break: keep-all;
}

.main__media {
  overflow: hidden;
}
.main__media img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.stickyWrapper {
  display: grid;
  position: relative;
  grid-template-columns: fit-content(0) 1fr;
  grid-template-rows: 1fr;
}

.stickyWrapper h2 {
  color: var(--accent);
  margin-bottom: 16px;
  font-family: "Diphylleia", serif;
  font-size: 30px;
}

.stickyWrapper p {
  color: var(--txt);
  margin-bottom: 1px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 16.5px;
}

main {
  z-index: 1;
  grid-column: 1/span 2;
  grid-row: 1;
}

.progressBar {
  position: sticky;
  top: 0;
  z-index: 2;
  grid-column: 1/span 2;
  grid-row: 1;
  width: 100%;
  height: 1rem;
  background-color: var(--surface-transparent);
}
.progressBar .indicator {
  position: absolute;
  transform: scaleX(0);
  inset: 0 0 0 0;
  transform-origin: left;
  background-color: var(--accent);
}

a {
  cursor: pointer;
}

footer {
  color: var(--accent);
  margin-bottom: 1px;
  font-family: "Diphylleia", serif;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  line-height: 1.8;
}
footer .wrapper {
  min-height: max(100dvh, 2rem);
}

#section1 h2.animTarget {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
#section1 p.animTarget {
  opacity: 0;
  transition: opacity 3s ease-in-out;
}
#section1 img.animTarget {
  transform: scale(0);
  transition: transform 1s ease-in-out;
}
#section1.triggered h2.animTarget {
  opacity: 1;
}
#section1.triggered p.animTarget {
  opacity: 1;
}
#section1.triggered img.animTarget {
  transform: scale(1);
}

#section2 .animTarget {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
#section2.triggered .animTarget {
  opacity: 1;
}

#section3 iframe {
  transform: translateX(-100vw);
  transition: transform 1s ease-out;
}
#section3 h2.animTarget {
  transform: translateX(100vw);
  transition: transform 1s ease-out;
}
#section3 p.animTarget {
  opacity: 0;
  transition: opacity 3s ease-in-out;
}
#section3.triggered iframe.animTarget {
  transform: translateX(0);
}
#section3.triggered h2.animTarget {
  transform: translateX(0);
}
#section3.triggered p.animTarget {
  opacity: 1;
}

#section4 h2.animTarget {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
#section4 p.animTarget {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
#section4 img.animTarget {
  transform: scale(0);
  transition: transform 1s ease-in-out;
}
#section4.triggered h2.animTarget {
  opacity: 1;
}
#section4.triggered p.animTarget {
  opacity: 1;
}
#section4.triggered img.animTarget {
  transform: scale(1);
}